/* font family Raleway */

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font family Barlow */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ============= 01. Reset section ============= */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}

/* ===== 02. Global Style ===== */
body {
    overflow-x: hidden;
}

h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 85px;
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 51px;
    font-family: "Raleway", sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    font-family: "Raleway", sans-serif;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: "Raleway", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Raleway", sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Barlow", sans-serif;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 38px 16px 38px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #c9c3c3;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ========== 1.1 Header Section ============*/
.header-index{
    background-image: url(../Images/bg/hero_bg.png);
    background-position: center center;
    background-size: cover;
}
header{
    padding: 20px 0;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px ;
    color: #d3c9c1;
}

.container-nav{
    gap: 70px;
}
.navbar-logo{
    color: white;
    margin-right: 25px;
    font-size: 28px;
    /* height: 0.75rem !important;
    width: 2rem !important; */
}
span{
    color: #ea1538;
}

.navbar-toggler{
    border: 1px solid #7436bb;
    background: linear-gradient(42deg,#7436bb 0.01%, #b520a3 100%);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}
.navbar-toggler:hover{
   background: inherit; 
}

.navbar-toggler span{
    color: #fff;
    font-size: 22px;
}

.navbar-nav{
    gap: 50px;
}

.nav-link{
    font-weight: 400;
    color: #d3c9c1;
}

nav li a.active,
.nav-link:is(:hover,:focus-visible){
    color: #f57c48;
}

.dropdown{
    position: relative;
}
.dropdown-toggle::after{
    content: '+';
    vertical-align: center;
    margin-left: 5px;
}
.dropdown-menu{
    position: absolute;
    padding: 30px;
    z-index: 9;
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
    width: 220px;
    padding: 15px 0 15px 0;
    background-color: #3d0541;
    margin-left: -52px;
}
.dropdown-menu li{
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100;
    transition: all 0.3s ease-in-out;
    background-color: #b520a3;
    z-index: -1;
    top: 0;
    left:0;
}

.dropdown-item:hover::before{
    width: 100%;                              /* Need  To Be check */
    background: #c410b2;
}
.dropdown-item:hover,
.dropdown-item:focus{
    color: #fff;
    background-color: inherit;
}
.dropdown-item{
    display: block;
    width: 100%;
}

.nav-right{
    gap: 45px;
}
.nav-right p{
    color: #d3c9c1;
}
.nav-right span{
    color: #f57c48;
}
.nav-right .fa-magnifying-glass{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.nav-right .fa-magnifying-glass:active{
    color: #999;
    transform: scale(0.8);
}
.nav-right .fa-bars{
    color: #fff;
    font-size: 22px;
    background-color: 150803;
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-right .fa-bars:active{
    transform: scale(0.9);
}

@media screen and (max-width: 880px){
    .navbar-toggler{
        display: block !important;
    }
    .navbar-nav,
    .nav-right{
        display: none !important;
    }
.container-nav{
    width: 100%;
    justify-content: space-between;
}

}

/* sidebar */

#mySidepanel {
    background-color: #3d0f41;
    z-index: 10;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    left: -320px; 
    overflow: hidden;
    transition: 40px 20px 20px 20px;
}
.sidebar{
    justify-content: space-between;
}
.sidebar img{
    width: 100px;
}
.sidebar button{
    width: 44px;
    height: 44px;
    background: linear-gradient(42deg,#7436bb 0.01%, #b520a3 100%);
    padding: 10px 12px 10px 12px;
    margin-bottom: -15px;
    border-radius: 0.25em;
    border: #b520a3;
    color: #fff;
    cursor: pointer;
}
.sidebar button:hover{
    background: inherit;
}

.sidebar a{
    padding: 10px 0;
}
aside ul{
    padding: 20px;;
    display: flex;
    flex-direction: column;
}
aside ul li{
    margin: 15px 0;
}
aside li a{
    color: #d3c9c1;
    transition: 500ms;
    padding: 10px 0;
}
aside ul li a.actgive{
    color: #f57c48;
}
aside ul li a:hover{
    color: #f57c48;
    transition: 500ms;
}
aside .pages{
    font-weight: 500;
    color: #d3c9c1;
    margin: 11px 0 7px 0;
}
.collapse-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.collapse-btn i{
    border: 1px solid #d3c9c1;
    padding: 7px 8px;
    border-radius: 40px;
}
.collapse-btn i:hover{
    border: 1px solid #f57c48;
}
.plus_collapse{
    margin: -52px 0 0 0;
    height: 45px;
}
#pages{
    height: 0;
    overflow: hidden;
    transform: height 0.35s ease;
}
.show{
    height: 500px !important;
    transition: height 0.34s ease;
}

/* Search Bar */

#search-bar{
    background-color: #000000a6;
    width: 100%;
    height: 0%;
    position: fixed;
    display: flex;
    z-index: 2;
    border-radius: 0px;
    bottom: 0;
    transition: all 0.5s ease;
}
#search-bar div:first-child{
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0;
    background: linear-gradient(42deg,#7436bb 0.01%,#b520a3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1.5px solid #b520a3;
    color: #ffffff;
    margin: 30px;
    cursor: pointer;
}
#search-bar div:first-child:hover{
    background: inherit;
}

#search-bar form{
    border-radius: 50px;
    border: 1px solid #6d2f8a;
    background: #381a46;
    width: 50%;
    margin: auto;
    display: flex;
}

#search-bar form input{
    border-radius: 50px;
    background: #381a46;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
}

#search-bar form button{
    transition: all 0.3s ease;
   text-transform: uppercase; 
}

/* Right Sidebar */

.header-right-sidebar{
    width: 355px;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    right: -355px;
    overflow-x:hidden ;
    transition: 0.5s;
    padding: 60px 25px 20px 30px;
    z-index: 2;
    background: #d3c9c1;
}
.header-right-sidebar img{
    position: fixed;
    top: 0;
    width: 150px;
}

.header-right-sidebar button{
    width: 44px;
    height: 44px;
    background:linear-gradient(42deg,#7436bb 00.01%,#b520a3 100%);
    padding: 7px 12px 10px 12px;
    border-radius: 0.25rem;
    border: 1.5px sloid #b520a3;
    color: #ffffff;
    cursor: pointer;
}

.header-right-sidebar p{
    color: #231f20;
    margin: 25px 0;
}

.header-right-sidebar h4{
    margin: 25px 0;
}

.header-right-sidebar hr{
    margin: 28px 0 0 0;
    border: 1px solid ;
    opacity: 1;
    color: #000000;
}
.header-right-sidebar .btn_hover1{
    padding: 15px 40px;
    outline: none;
    font-size: 16px;
}
.header-right-sidebar ul{
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.header-right-sidebar li{
    display: flex;
    gap: 20px;
}

.header-right-sidebar ul a{
    padding: 0 !important;
    color: #231f20;
}
.header-right-sidebar i{
    font-size: 20px;
    background: linear-gradient(0deg,#f54a48 0.5%,#fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-right-sidebar i:hover{
    background: linear-gradient(0deg,#f54a48 0.5%,#f54a48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.header-right-sidebar span{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

/* <!-- ====== 1.1 End Header Section ========-->


<!-- ====== 1.2 Hero Section ======== --> */

.hero{
    background-image: url(../Images/bg/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 172px 0 279px 0;
}

.hero .container{
    position: relative;
}
.hero h1{
    color: #fff;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.hero-social-icon{
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column !important;
    justify-content: flex-start;
}
.hero-social-icon a{
padding: 16px 38px 16px 38px !important;
}

.hero-social-icon a i{
    font-size: 26px;
    background: linear-gradient(0deg,#f54a48 0.5%,#fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-social-icon a i:hover{
    background: linear-gradient(0deg,#f54a48 0.5%,#fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-social-icon hr{
    display: block;
    margin-top: 68px;
    opacity: 1;
    color: #fff;
    width: 110px;
    rotate: 90deg;
}
.center-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero h3{
    color: #ffffff;
    text-transform: uppercase;
}
.center-btn {
    gap: 1.5rem;
    margin-top: 1rem;
}

/* Button hover with background */

 .btn_hover2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 500px;
    border: 1.5px solid #d12bec;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 0.8px;
    
}

.btn_hover2::before {
    content: "";
    border-radius: 50px;
    position: absolute;
    width: 0%;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(42deg, #ff7527 0%, #fabf28 100%);
    z-index: -1;
    top: 0;
    right: 0;
}

.btn_hover2:hover::before {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(42deg, #ff7527 0%, #fabf28 100%);
}

/* button hover end */

.center-btn a {
    padding: 16px 38px 16px 38px !important;
}

/* ====== End of 1.2. hero section ====== 

 <!-- ======1.3 Card Section ========--> */

 .feature {
    background-color: #150725;
    margin-top: -1px;
    position: relative;
}

.feature .flex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
}

.header-card {
    margin-top: -145px;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.header-card div {
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #ffffff;
    padding: 40px 30px;
    transition: all 0.4s ease;
}

.header-card div:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.header-card .feature-img1 {
    width: 53px;
}

.header-card img {
    width: 60px;
}

.header-card h4 {
    width: 146px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 20px 0 12px 0;
}

/* ====== End of 1.3. card section ====== */

/* ====== 1.4. logoipsum section ====== */

.logoipsum{
    background-color:#150725 ;
    padding: 150px 0;
    margin-top: -1px;
}

.logoipsum-slider{
    margin-top: 24px;
}
.logoipsum h3{
    width: 170px;
    color: #ffffff;
    margin: 0 auto;
}
.logoipsum img{
    width: 170px;
    margin: 0 auto;
}
.logoipsum .hr1{
    opacity: 1;
    height: 2px;
    rotate: 90deg;
    width: 60px;
    margin: 0 auto 50px auto;
    background: rgba(255, 255, 255, 0.75);

}

.logoipsum .hr2 {
    opacity: 1;
    height: 2px;
    rotate: 90deg;
    width: 60px;
    margin: 70px auto 0 auto;
    background: rgba(255, 255, 255, 0.75);
}


/* ====== 1.5. ABoutUS section ====== */


.about {
    background: #3d0f41;
    padding: 100px 0;
}

.about-data {
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.about hr {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

/* .w-50 {
    flex: 0 0 auto;
    width: 50%;
}

.about-title {
    gap: 1rem;
} */

.about-data h2 {
    margin: 20px 0;
    color: #ffffff;
}

.about h5 {
    color: #ffffff;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

.about p {
    color: #ffffff;
}

.about i {
    border: 2px solid #fa982f;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    background: linear-gradient(66.75deg, #f54a48 0.87%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-data a {
    padding: 16px 38px 16px 38px !important;
}

.about-imgs {
    position: relative;
    background-image: url("../Images/bg/about-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-imgs figure {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    width: fit-content;
    clip-path: circle(45% at 50% 50%);
    transition: all 0.8s ease;
}

.about-imgs figure:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
}

.about-imgs img {
    width: 85%;
    display: block;
    margin: auto;
    clip-path: circle(48% at 50% 50%);
}

.ab-count {
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    color: #ffffff;
    position: absolute;
    bottom: -18px;
    left: 118px;
    z-index: 11;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

.ab-count h2 {
    margin: 0;
}

.about-hr {
    color: #ffffff;
    position: absolute;
    right: -50px;
    bottom: 25px;
    rotate: -90deg;
}

.about-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
}

.ab-count p {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.about-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}
/* ====== END OF 1.5. About US section ====== */

/* ====== 1.6. gallary section ====== */

.portfolio-1 {
    background: #150725;
    padding: 120px 0 120px 0;
    margin-top: -1px;
}
.porto-center{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.porto-center .w-50{
    width: 66%;
}
.porto-center h5{
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.porto-center h2{
    color: #ffffff;
}
.porto-center p{
    color: #d3c9c1;
    padding-right: 145px; 
    margin-top: 1rem;
}
.portfolio-1 .gallary-hr1{
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.porto-center hr{
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
}
.portfolio-1 .btn_hover2{
    padding: 15px 30px;
    border: 1px solid #f85727;
}

.porto-center .w-100{
    flex: 0 0 auto;
    width: 33.33333333%;
}

/* Gallary Section */

.gallary {
    background-image: url(../Images/bg/gallary-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}

.gallary img{
    width: 100%;
    height: 400%;
    object-fit: cover;
}
.gallary img[alt="sm_img"] {
    height: 200px;
}
.ga-bg {
    background-color: #150725;
    height: 300px;
}

.gallary span{
    background-color: #150725;
    opacity: 0.8;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.gallary .container {
    margin-top:  -390px;
    z-index: 1;
    position: relative;
}
.tab{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.mb-15{
    margin-bottom: 1.5rem imn !important;
}
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: inherit;
    color: #ffffff;
    border-radius: 10px;
}

.tab button.active {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}
.gallary-hr h6{
    letter-spacing: 3.72px;
    text-transform: uppercase;
    color: #ffffff;
}
.gallary-hr hr{
    opacity: 1;
    color: #ffffff;
    height: 2px;
    width: 60px;
}

.tabcontent{
    display: none;
    /* Display block for all data in html */
    padding: 6px 12px;
}

.tabcontent .w-100{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.w-33{
    width: 33.3333333333%;
}
.w-66 {
    width: 66.66666667%;
}
.galary-flex h6{
    letter-spacing: 3.72px;
    text-transform: uppercase;
    color: #ffffff;

}

.gallary-hr hr{
    opacity: 1;
    color: #fff;
    height: 2px;
    width: 60px;
}

/* <!-- ======= END of 1.6 Galary Section =======-->


<!-- ======= 1.7 Service Section =======--> */

.service-1{
    background: #3d0f41;
    padding: 120px 0;
}

.service-data{
    display: flex;
    flex-wrap: wrap;
}
.service-1 h5{
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.service-1 h2{
    color: #ffffff;
}

.service-1 .col-lg-8 p {
    padding: 0 221px 0 0;
}

.service-1 p {
    color: #d3c9c1;
    position: relative;
    margin-bottom: 15px;
}

.service-1 .service-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.service-1 hr {
    width: 70%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
}

.service-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.service-card {
    border: 1px solid #b520a3;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    box-shadow: 8px 18px 30px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 40px 30px 40px;
    width: 100%;
}

.service-card:hover {
    transform: scale(1.05) !important;
    transition: all 0.4s ease !important;
}

.service-card a {
    color: #d3c9c1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-card a:hover {
    font-weight: 700;
    color: #ffffff;
    gap: 8px;
}

.service-card h3 {
    margin: 20px 0;
    color: #ffffff;
    letter-spacing: 1.25px;
}

.service-card img {
    object-fit: cover;
    margin: auto;
    display: block;
}

.service-card figure {
    background: #ffffff;
    box-shadow: 10px 17px 28px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 124px;
    height: 85px;
    display: flex;
}

.service-card img[alt="slider1"] {
    width: 105px;
}

.service-card img[alt="slider2"] {
    width: 75px;
}

.service-card img[alt="slider3"] {
    width: 60px;
}

/* ====== End of 1.7. Services section ====== */

/* ====== 1.8. Experience section ====== */

.experience {
    background-image: url("../Images/bg/experience_bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    position: relative;
    margin-top: -1px;
    /* bottom: 300px; */
}

.experience::before {
    position: absolute;
    content: '';
    top: 26rem;
    background-image: url("../Images/bg/experience_cercle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30%;
    height: 39%;
    left: 32%;
}

.experience h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.experience h2 {
    color: #ffffff;
}

.experience p {
    color: #d3c9c1;
}

.experience .col-lg-8 p {
    padding: 0 221px 0 0;
}

.experience .experience-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.experience hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
    margin: 35px 0;
}

.experience .btn_hover1 {
    padding: 15px 40px;
    position: relative;
    /* left: 100px; */
    right: 300px;
    top: 200px;
}

.experience .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.experience .col-lg-6 {
    z-index: 1;
}

.experience_mask figure {
    width: fit-content;
    clip-path: circle(47% at 50% 50%);
    padding: 6px;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transition: all 0.8s ease;
}

.experience_mask figure:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
}

.experience_mask img {
    width: 100%;
    clip-path: circle(47% at 50% 50%);
}

.experience-hr {
    color: #ffffff;
    position: absolute;
    bottom: -20px;
    left: -250px;
    bottom: 25px;
    rotate: -90deg;
}

.experience-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.experience-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffff;
    width: 60px;
    border: 1px solid;
    margin: 0;
}


.ex-card {
    margin: 10px;
    position: relative;
    left: 70px;
    top: 100px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 23px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px 20px 20px;
    z-index: 1;
}

.ex-card:hover {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transform: scale(1.05) !important;
    transition: all 0.4s ease !important;
}

.ex-card:hover h4 {
    color: #ffffff;
}

.ex-card:hover p {
    color: #ffffff;
}

.ex-card .flex {
    border-radius: 50%;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    color: #ffffff;
    width: 115px;
    padding: 29px 0px;
}

.ex-card:hover.ex-card .flex {
    background: #ffffff;
}

.ex-card:hover.ex-card h3 {
    color: #7436bb !important;
}

.ex-card div:last-child {
    width: 100%;
}

.ex-card h4 {
    color: #231f20;
}

.ex-card p {
    color: #767676;
    margin-top: 10px;
}

/* ====== End of 1.8. Experience section ====== */

/* ====== 1.9. How we work section ====== */

.work {
    background-image: url("../Images/bg/work-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    margin-top: -2px;
}

.work h5 {
    letter-spacing: 1px;
}

.work-para {
    color: #ffffff;
    padding: 0 290px;
}

.work-line {
    background-image: url("../Images/bg/work-line.png");
    background-size: 100% 100%;
    background-position: center;
    min-height: 242px;
    background-repeat: no-repeat;
    margin: 146px 25px 146px 25px;
}

.work-line div {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 18px 0 32px 34px;
}

.work-line div:first-child {
    top: -66px;
    left: -30px;
    width: 196px;
    min-height: 196px;
}

.work-line div:nth-child(2) {
    bottom: -70px;
    left: 260px;
    width: 180px;
    min-height: 180px;
}

.work-line div:nth-child(3) {
    right: 260px;
    top: -66px;
    width: 196px;
    min-height: 196px;
}

.work-line div:last-child {
    right: -49px;
    bottom: -70px;
    width: 180px;
    min-height: 180px;
}

.work a {
    border: 1.5px solid #ff7527;
}

.work-hr {
    color: #ffffff;
    position: absolute;
    right: 0;
    rotate: -90deg;
}

.work-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.work-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

.work .btn_hover2 {
    padding: 15px 30px;
}

/* ====== End of 1.9. Testimonials section ====== */

/* ====== 1.10. team section ====== */

.team {
    background-image: url("../Images/bg/experience_bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0 0 0;
}

#team {
    background-image: url("../Images/bg/experience_bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0 120px 0;
}

.team h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.team h2 {
    color: #ffffff;
    padding: 0 212px 0 0;
}

.team p {
    color: #d3c9c1;
    padding: 0 184px 0 0;
}

.team .team-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.team a {
    padding: 15px 30px;
    border: 1.5px solid #ff8c4b;
}

.team-slider {
    overflow: hidden;
    display: flex;
}

.team-img {
    min-width: 304px;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
}

.team-img img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.team-img:hover .overlay {
    height: 100%;
}

.overlay_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.overlay_text h4 {
    margin: 6px 0 15px 0;
}

.overlay_text i {
    color: #ffffff;
    font-size: 20px;
}

.overlay_text a {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.overlay_text a:hover {
    background-color: #ffffff;
}

.overlay_text a:hover i {
    color: #150725;
}

.overlay_text .flex a:first-child {
    padding: 8px 13px !important;
}

.overlay_text .flex a:nth-child(2) {
    padding: 9px 12px !important;
}

.overlay_text .flex a:last-child {
    padding: 8px 10px !important;
}

.team-btn {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #d3c9c1;
    padding: 40px 20px;
    margin-top: 90px;
    text-transform: uppercase;
}

/* ====== End of 1.10. team section ====== */
